/*-------------------- G E N E R A L --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Oswald:wght@200;300;400&family=Poppins:wght@100;200;300&display=swap');

:root {
    --blueViolet:#8a2be2;
}
*{
    margin:0; 
    padding:0;
  
}
*::selection {
    background: #333;
    color: var(--blueViolet);
}
body {
    margin: 0;
    background: lightgray;
    text-align: inherit;
    font-family: sans-serif;
    color: #fefefe;
    background-color: #b40707;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23730000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%2380000c'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%238c001b'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%2399002d'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23a60040'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23b30057'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23bf006f'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23cc008b'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23d900a8'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23e600c8'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23f200eb'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
html {
    font-size: 62.5%;
    overflow-x:hidden;
    height: 200rem;
 
}
html::-webkit-scrollbar {
    width: 1.3rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}
html::-webkit-scrollbar-thumb {
    background: var(--blueViolet);
} 
/*-------------------- G E N E R A L   E N D --------------------*/
/*-------------------- H E A D E R --------------------*/
header {
    width: 100%;
    background: rgba(255, 255, 255, 0.938);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    height: 65px;
    text-shadow: 7px 4px 5px blueviolet;
}
.fa-brands.fa-whatsapp{
    width: 55px;     
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
.fa-brands.fa-whatsapp:hover{
    text-decoration: none;
    color: #fff;
    background: blueviolet;
    transition: 1.1s;
}
.heading {
    text-align: center;
    padding: 1srem;
    color: #333;
    text-shadow: 0 .3rem .5 rgba(0,0,0,.1);
    font-size: 3rem;
    padding-top:8rem;
}
.heading i{
    padding: 0 .5rem;
    color: var(--blueViolet);
}
#search-box {/*buscador*/
    position: absolute; 
    top: 100%; left:0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--blueViolet);
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}

#search-box.active {/*mostrar y ocultar buscador */
    transform: scaleY(1); 
    opacity: 1;
}

#search-box #search {
    width: 100%;
    padding: 1rem;
    text-transform:none;
    font-size: 2rem;                                                                    ;
}

#search-box #search::placeholder {
    text-transform: capitalize;
}
#search-box label {
    font-size: 3rem;
    color: #333;
    padding-left: 2rem;
    cursor: pointer;
}

header .logo {
    font-size: 3rem;
    color: #333;
    text-decoration: none;
}

header .logo i{/*logo hueso*/
    transform: rotate(-65deg);   
    color:var(--blueViolet);
}

header .logo i:hover{
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
header .navbar a {/*contenedor de barra de navegacion*/
    color: #333;    
    font-size: 1.7rem;
    padding:0 1rem;
    text-decoration: none;
   
}
header .navbar a:hover {
    color:var(--blueViolet);
}
header .icons i, header .icons a {
    font-size: 2.5rem;
    color: #333;
    padding-left: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}
header .icons i:hover, header .icons a:hover {
    color: var(--blueViolet);
}
.fa-times { 
    transform: rotate(-360deg);/*rotacion lupa y cruz*/
}     
#menu{
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    display: none;
}
header.sticky{/*hace que el elemento se comporte como en position:relative*/
    position: fixed;    
    top: 0; left:0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
/*-------------------- H E A D E R   E N D --------------------*/

/*-------------------- M A I N --------------------*/
/*----------SECCION PRINCIPAL----------*/
section{ 
    padding: 1rem 5%;
}
.principal{      
    min-height: 75vh;
    background: url(../Image/home-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.principal .content span{
    color: blueviolet;
    font-size: 2rem;
}
.principal .content h3{
    color: white;
    font-size: 5.5rem;
}
.principal .content .btn{
    background: #fff;
}
/*----------SECCION PRINCIPAL END----------*/

/*----------SECCION LOGO Y COMPRA----------*/
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    background: var(--blueViolet);
    color: #333;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    z-index: 0;
}
.btn::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    clip-path: polygon( 0 0, 100% 0, 10% 25%, 0 100%);
    z-index: -1;
    background: #444;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
}
.btn:hover:before{
    clip-path: polygon( 0 0, 100% 0, 10% 25%, 0 100%);
}
.btn:hover{
    color:var(--blueViolet);
}
.categoria .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.categoria .box-container .box{
    width: 25rem;
    margin: 2rem;
    text-align: center;
}
.categoria .box-container .box img{
    width: 100%;
    background-color: aliceblue;
    border-radius: 3rem;
}
.categoria .box-container .box img:hover{
    -webkit-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow: 0px 0px 15px 15px var(--blueViolet);
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.categoria .box-container .box img:hover{ /*HOVER:PSEUDOCLASE, ESTABLE */
    transform: scale(1.1);       
    transition: all 0.4s ease;
}
.categoria .box-container .box h3{
    color: #333;
    font-size: 2rem;
    padding: 1rem 0;
}
/*----------SECCION LOGO Y COMPRA END----------*/

/*----------SECCION RECOMENDADOS----------*/
.recomendados .box-container{      
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.recomendados .box-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    flex: 1 1 40rem;
    position: relative;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: aliceblue;
}
.recomendados .box-container .box img{
    width: 20rem;
}
.main .recomendados .box-container .box img{
    margin: 10%;
}
.recomendados .box-container .box img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}
.recomendados .box-container .box .price{
    position: absolute;
    top: -1rem; right:-1rem;
    height:6rem;
    width:6rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 50%;
    background: var(--blueViolet);
    color: #333;
    font-size: 1.5rem;
}
.recomendados .box-container .box .content{
    padding: 1rem;
}
.recomendados .box-container .box .content .stars i{
    color: var(--blueViolet);
    font-size: 1.5rem;
}
.recomendados .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
    padding-top: .5rem;
}
.recomendados .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
/*----------SECCION RECOMENDADOS END----------*/

/*----------SECCION CAROUSEL----------*/
.container {
    position: relative;
    width: 500px;
    margin: -35px auto 0 auto;
    perspective: 1000px;
    object-fit: contain;
  }
  .carousel {
    position: absolute;
    left: 100px;
    width: 60%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
    object-fit: contain;
  }
.carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    border-radius: 5%;
}
  span {
    margin: auto;
    font-size: 2rem;
  }
.carousel__face:nth-child(1) {
    background-image: url("../Image/juana.jpg");
    transform: rotateY(  0deg) translateZ(430px); 
}
  .carousel__face:nth-child(2) { 
    background-image: url("../Image/polo2.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("../Image/charli.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("../Image/candela.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("../Image/flopy.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("../Image/deisi.jpg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("../Image/x.jpg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("../Image/serena.jpg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("../Image/piti.jpg");
    transform: rotateY(320deg) translateZ(430px); }

  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-600deg);
    }
  }
/*----------SECCION CAROUSEL END----------*/

/*----------SECCION PRODUCTOS----------*/
.productos .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 
.productos .box-container .box{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    border-radius:  .5rem;
    padding: 1rem;
    margin: 1.5rem;
    flex: 1 1 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productos .box-container .box img{
    width: 15rem;
}
.productos .box-container .box img{
    width: 15rem;
}
.productos .box-container .box .content{
    padding: 1rem;
}
.productos .box-container .box .content .stars i{
    font-size: 1.5rem;
    color: var(--blueViolet);
}
/*----------SECCION PRODUCTOS END----------*/


/*----------SECCION MAP----------*/
.map{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    position: relative;
    right: 100px;
}
.image{
    flex: 1 1 40rem;
}
img{
    width: 80%;
    position: relative;
    right: -10px;
}
/*----------SECCION MAP END----------*/

/*-------------------- F O O T E R --------------------*/
footer {
    min-height: 30vh;
    padding: 50px 0px;
    background: url(../Image/Footer-puestaDeSol.jpg);
    background-size: cover;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    align-items: baseline;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img{
   width: 50px;
   border-radius: 80px;
}
.logo  a i{
    font-size: 3rem;
    color: #333;
    text-decoration: none;  
}
.logo a i{/*logo hueso*/
    transform: rotate(-65deg);   
    color:var(--blueViolet);
}
.box__footer .logo a   {
    font-size: 20px;
    text-shadow: 7px 4px 5px blueviolet;
    text-shadow: 7px 4px 5px black;
}
.box__footer .logo i{
    font-size: 40px;
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    Color:white;
    font-size: 18px;
}
.box__footer h2{
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
    text-decoration: underline;
    text-shadow: 7px 4px 5px black;
}
.box__footer a{
    margin-top: 20px;
    Color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
}

.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a .Fab{
    font-size: 20px;
}
.box__copyright{
    max-width: 355px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    background-color: rgba(0, 0, 0, 0.322);
    Color: black;
    margin-top: 20px;
    text-shadow: 7px 4px 5px black;
    position: relative;
    top: 16px;
    right: -40px;
}
.box__copyright hr{
    border:none;
    height:1px;
    Color: black;
}
/*-------------------- F O O T E R   E N D --------------------*/


/* ----- === MEDIA QUERIS - DISEÑO RESPONSIVE === -----*/
@media(max-width:991px){     
    
    html {
        font-size: 55%;
    }
    
    #menu {
        display: block;
    }
    header .navbar{
        position: absolute;
        width:100%; left:0;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        z-index: 1000;                                       
        border-top: .1rem solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        justify-content: center;
        text-align: center;
    }
    header .navbar a{
        font-size: 2rem;
        padding: 1.5rem;
        display: block;
    }
    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }
    section {
        padding: 1rem 3%;
    }
    .principal{
        background-position: left;                                                                              ;
    }
    .principal .content h3 {
        font-size: 4.3rem;
    }
    .recomendados .box-container .box{
        flex-flow: column;
    }
    .recomendados .box-container .box img{
        width: 100%;
    }
    .carousel__face{
        flex-flow: column;
    }
}
@media(max-width:400px){
    html {
        font-size: 50%;
    }
    .heading{
        font-size: 2.2rem;
    }
    .principal{
        justify-content: center;
    }
    .principal .content{
        text-align: center;
    }
    .categoria .box-container .box{
        width:100%;
    }
}
/* ----- === FIN MEDIA QUERIS - DISEÑO RESPONSIVE === -----*/







