/* ----- === MEDIA QUERIS - DISEÑO RESPONSIVE === -----*/
@media(max-width:991px){     
    
    html {
        font-size: 55%;
    }
    
    #menu {
        display: block;
    }
    header .navbar{
        position: absolute;
        width:100%; left:0;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        z-index: 1000;                                       
        border-top: .1rem solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        justify-content: center;
        text-align: center;
    }
    header .navbar a{
        font-size: 2rem;
        padding: 1.5rem;
        display: block;
    }
    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }
    section {
        padding: 1rem 3%;
    }
    .principal{
        background-position: left;                                                                              ;
    }
    .principal .content h3 {
        font-size: 4.3rem;
    }
    .recomendados .box-container .box{
        flex-flow: column;
    }
    .recomendados .box-container .box img{
        width: 100%;
    }
    .carousel__face{
        flex-flow: column;
    }
}
@media(max-width:400px){
    html {
        font-size: 50%;
    }
    .heading{
        font-size: 2.2rem;
    }
    .principal{
        justify-content: center;
    }
    .principal .content{
        text-align: center;
    }
    .categoria .box-container .box{
        width:100%;
    }
}
/* ----- === FIN MEDIA QUERIS - DISEÑO RESPONSIVE === -----*/

